<!DOCTYPE html>
<html lang="pt-br">
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>Login | Sistema Integrado de Módulos - Valorem</title>
        <link rel="icon" href="images/favicon.png" type="image/ico" />
        <link href="css/login/bootstrap.min.css" rel="stylesheet">
        <link href="css/login/font-awesome.min.css" rel="stylesheet">
        <link href="css/login/nprogress.css" rel="stylesheet">
        <link href="css/login/animate.min.css" rel="stylesheet">
        <link href="css/login/custom.css" rel="stylesheet">
        <link href="css/valorem.css" rel="stylesheet" type="text/css"/>
        <link href="css/login/modalLateral.css" rel="stylesheet" type="text/css"/>
        <link href="libs/font/css/font-awesome.css" rel="stylesheet" type="text/css"/>
    </head>

    <body style="background: #fff">
        <div class="container">
            <div class="row" id="pwd-container" style="margin: 0px">
                <div class="col-md-4 col-md-offset-4" >
                    <form class="login-form"  method="post" role="login">
                        <a href="/atendimentoRH/public_html/"><img class="img-responsive text-center" src="images/logo.jpg"></a>
                        <select id="modulo" name="modulo" class="form-control input-lg" >
                            {% for dado in dados %}
                                <option value="{{dado.sigla | lower}}" >{{dado.sigla}} - {{dado.descricao}}</option>
                            {% endfor %}
                        </select>
                        <input type="text" autofocus="" name="usuario" id="usuario" placeholder="usuário"  class="form-control input-lg"/>
                        <input type="password" name="senha" id="senha" class="form-control input-lg"  placeholder="senha"  />
                        <h2 id="aviso" style="color: #ff0000;font-size: 16px;"></h2>
                        <div id="output"></div>
                        <button class="btn btn-lg btn-primary btn-block" style="background: #006c3a;border-color: #006c3a">Entrar</button>
                        <div>
                            <a  class="btn" data-toggle="modal" data-target="#myModal2">Estou com problemas para acessar!</a>
                        </div>
                    </form>

                    <div class="form-links"><b>Sistema Integrado de Módulos - Valorem</b></div>
                </div>
            </div>
        </div>

        <!-- Modal -->
        <div class="modal right fade" id="myModal2" tabindex="-1" role="dialog" aria-labelledby="myModalLabel2">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                        <h4 class="modal-title" id="myModalLabel2">Preciso de ajuda!</h4>
                    </div>
                    <div class="modal-body">
                        <form id="form"  class="form" method="POST" enctype="multipart/form-data" >
                            <label for="remetente">Nome completo</label>
                            <input required="" type="text" id="remetente" name="remetente" class="form-control"/>
                            <label for="assunto">Assunto</label>
                            <input required="" type="text" id="assunto" name="assunto" class="form-control"/>
                            <label for="mensagem">Mensagem</label>
                            <textarea required="" rows="7" cols="5"  id="mensagem" name="mensagem" class="form-control"/></textarea>
                            <div id="output" style="margin-top: 5px"></div>
                            <button type="subimit" style="float: right;margin-left: 5px;margin-top: 5px;background: #006c3a;border-color: #006c3a" class=" btn btn-success">Solicitar ajuda</button>
                        </form>  
                    </div>
                </div>
            </div>
        </div>
        <div class="modal fade" id="sucesso" tabindex="-1" data-keyboard="false" data-backdrop="static"  role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <center><h3 class="modal-title" id="exampleModalLabel">Mensagem enviada com sucesso!</h3></center>
                    </div>
                    <div class="modal-body">
                        <center><a class="btn btn-primary text-center" href="/sim/public_html">OK</a></center>
                    </div>
                </div>
            </div>
        </div>
        <div class="modal fade" id="erro" tabindex="-1" data-keyboard="false" data-backdrop="static"  role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <center><h3 class="modal-title" id="exampleModalLabel">Erro ao realizar a operação!</h3></center>
                    </div>
                    <div class="modal-body">
                        <center><a class="btn btn-danger text-center" href="/sim/public_html/controleUsuario">OK</a></center>
                    </div>
                </div>
            </div>
        </div>
        <div id="realizandoEnvio" class="modal fade " role="dialog" data-keyboard="false" data-backdrop="static"  >
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-body">
                        <br/>
                        <br/>
                        <br/>
                        <center><i class="fa fa-spinner fa-spin fa-5x"></i> </center>
                        <center>
                            Realizando envio
                        </center>
                        <br/>
                        <br/>
                        <br/>
                    </div>
                </div>
            </div>
        </div>
        <nav class="navbar navbar-default navbar-fixed-bottom">
            <div class="container">
                <a class="nav-link " title="Acesso T.I." href="http://172.16.20.8/valorem/admin/" target="_blank" style="margin-right: 15px; margin-top: 10px; float: right">
                    <i class="fa fa-desktop fa-1x" aria-hidden="true"></i>
                </a>
            </div>
        </nav>
        <script src="js/lib/jquery-3.1.1.min.js" type="text/javascript"></script>
        <script src="js/login/validaLogin.js" type="text/javascript"></script> 
        <script src="js/bootstrap.min.js" type="text/javascript"></script>
        <script src="js/ajuda/ajuda.js" type="text/javascript"></script>

    </body>
</html>
