{% extends "layout/layout.html.twig" %}

{% block head %}
    {{ parent() }}
    <link href="vendor/datatables/dataTables.bootstrap4.css" rel="stylesheet">
{% endblock %}
{% block content %}
    {{ parent()}} 
{% endblock %}

{% block corpo %}
    <h4 class="text mb-4" style="color: #006c3a" >Usuários</h4>
    <div class="row col-md-12" style="background-color: #fff;padding-bottom: 10px;padding-top: 10px">
        <div class="container-fluid" style="padding-left: 0px">
            <button class=" btn btn-primary" data-toggle="modal" data-target="#cadastrarUsuario" title="Cadastrar novo usuário" style="margin-top: 0px;color: #fff;font-size: 12px;margin-bottom: 5px"><i class="fa fa-plus" aria-hidden="true"></i> Cadastrar</button >

            {% if usuarios != null %}
                <div class="table-responsive" style="background-color: #fff;padding-top: 30px;padding-bottom: 30px">
                    <table class="table table-striped table-bordered" width="100%" id="dataTable" cellspacing="0">
                        <thead>
                            <tr>
                                <th><center>Nome completo</center></th>
                        <th><center>Email</center></th>
                        <th><center>Função</center></th>
                        <th><center>Usuário</center></th>
                        <th><center>Ações</center></th>

                        </tr>
                        </thead>
                        <tbody>
                            {% for dado in usuarios %}
                                <tr>       
                                    <td class="text-left">{{dado.nome}}</td>
                                    <td class="text-center">{{dado.email}}</td>

                                    <td class="text-center">{{dado.funcao}}</td>
                                    <td class="text-center">{{dado.usuario}}</td>

                                    <td class="text-center">
                                        {% if dado.status == 1%}
                                            <a onclick="editar('{{dado.nome}}', '{{dado.email}}', '{{dado.funcao}}', '{{dado.usuario}}', '{{dado.senha}}', {{dado.idUsuario}},{{dado.tipo}} )" title="Editar" style="text-decoration: none;color: #2F4F4F">
                                                <button type="button" title="Editar Usuário" class="btn btn-warning btn-sm" style="color: #fff">
                                                    <i class="fa fa-pencil" aria-hidden="true"></i>
                                                </button>
                                            </a>
                                            <a onclick="confirmacao({{dado.idUsuario}})" title="Desativar acesso" style="text-decoration: none;color: #ff0000"> 
                                                <button type="button" class="btn btn-danger btn-sm" style="color: #fff">
                                                    <i class="fa fa-close" aria-hidden="true"></i>
                                                </button>
                                            </a>
                                        {% else %}
                                            <a  title="Editar Usuário" style="text-decoration: none;color: #2F4F4F">
                                                <button disabled="" type="button" title="Editar Usuário" class="btn btn-warning btn-sm" style="color: #fff">
                                                    <i class="fa fa-pencil" aria-hidden="true"></i>
                                                </button>
                                            </a>
                                            <a onclick="confirmacaoAtivar({{dado.idUsuario}})" title="Ativar acesso" style="text-decoration: none;color: #2F4F4F"> 
                                                <button type="button" class="btn btn-success btn-sm" style="color: #fff">
                                                    <i class="fa fa-check" aria-hidden="true"></i>
                                                </button>
                                            </a>
                                        {% endif %}
                                    </td>

                                </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
                <br>
                <br>
            {% else %}
                <div class="alert alert-danger animated fadeInUp">
                    <center>Sem usuários cadastrados!</center>
                </div>

            {%endif %}
        </div>
    </div>
    <div class="modal fade " id="editarUsuario" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-lg" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title text-center" id="exampleModalLabel">Edição de usuário</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <form  id="formEditar"  name="formEditar" action="" class="form" method="POST" enctype="multipart/form-data" >
                        <div class="row" style="margin: 0px; padding: 0px">
                            <div class="col-md-6 col-lg-6" style="margin: 0px;">
                                <label for="nomeE">Nome</label>
                                <input name="nomeE" type="text" class="form-control" placeholder="Nome.." id="nomeE"/>
                                <input hidden="" name="idEditar" type="text" class="form-control"  id="idEditar"/>

                                <label for="emailE">Email</label>
                                <input name="emailE" type="text" class="form-control" placeholder="Email.." id="emailE"/>
                                <label for="senhaE">Senha</label>
                                <input name="senhaE" type="password" class="form-control" placeholder="Senha.." id="senhaE"/>
                            </div>
                            <div class="col-md-6 col-lg-6" style="margin: 0px; padding: 0px">
                                <label for="funcaoE">Função</label>
                                <input name="funcaoE" type="text" class="form-control" placeholder="Função.." id="funcaoE"/>
                                <label for="usuarioE">Usuário</label>
                                <input name="usuarioE" type="text" class="form-control" placeholder="Usuário.." id="usuarioE"/>
                                <label for="confirmaSenhaE">Confirma senha</label>
                                <input name="confirmaSenhaE" type="password" class="form-control" placeholder="Senha.." id="confirmaSenhaE"/>
                            </div>

                            <div class="col-md-12 col-lg-12" style="margin: 0px">
                                </br>
                                <label style="margin-top: 10px"><h5><b>Permissões de Acesso</b></h5></label><br>
                            </div>
                            {% for dado in modulos %}
                                <div class="col-md-6 col-lg-6" style="margin: 0px;">
                                    <label style="margin-top: 10px">{{dado.descricao}}</label><br>
                                    <select class="form-control" id="@{{dado.descricao}}" name="@{{dado.descricao}}">
                                        <option value="0" >Sem Acesso</option>
                                        <option value="1" >Operador</option>
                                        <option value="2" >Administrador</option>
                                    </select>
                                </div>
                            {% endfor %}
                            <div class="col-md-12 col-lg-12" style="margin: 0px">
                                <div id="aviso" style="margin-top: 5px"></div>
                            </div>
                        </div>
                        <button type="submit" class="col-md-12 btn btn-success" style="margin-top: 20px;">Atualizar Dados</button>
                    </form>        
                </div>
            </div>
        </div>
    </div>

    <!-- Cadastro de Usuário-->
    <div class="modal fade" id="cadastrarUsuario" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-lg" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title text-center" id="exampleModalLabel">Cadastro de usuário</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <form  id="form"  name="form" class="form" method="POST" enctype="multipart/form-data" >
                        <div class="row" style="margin: 0px; padding: 0px">
                            <div class="col-md-6 col-lg-6" style="margin: 0px;">
                                <label for="nome">Nome</label>
                                <input name="nome" type="text" class="form-control" placeholder="Nome.." id="nome"/>
                                <label for="email">Email</label>
                                <input name="email" type="text" class="form-control" placeholder="Email.." id="email"/>
                                <label for="senha">Senha</label>
                                <input name="senha" type="password" class="form-control" placeholder="Senha.." id="senha"/>
                            </div>
                            <div class="col-md-6 col-lg-6" style="margin: 0px;">
                                <label for="funcao">Função</label>
                                <input name="funcao" type="text" class="form-control" placeholder="Função.." id="funcao"/>
                                <label for="usuario">Usuário</label>
                                <input name="usuario" type="text" class="form-control" placeholder="Usuário.." id="usuario"/>
                                <label for="confirmaSenha">Confirma senha</label>
                                <input name="confirmaSenha" type="password" class="form-control" placeholder="Senha.." id="confirmaSenha"/>
                            </div>



                            <div class="col-md-12 col-lg-12" style="margin: 0px">
                                </br>
                                <label style="margin-top: 10px"><h5><b>Permissões de Acesso</b></h5></label><br>
                            </div>
                            {% for dado in modulos %}
                                <div class="col-md-6 col-lg-6" style="margin: 0px;">

                                    <label style="margin-top: 10px"><b>{{dado.descricao}}</b></label><br>
                                    <select class="form-control" id="{{dado.descricao}}" name="{{dado.descricao}}">
                                        <option value="0" >Sem Acesso</option>
                                        <option value="1" >Operador</option>
                                        <option value="2" >Administrador</option>

                                    </select>
                                </div>
                            {% endfor %}
                             <div class="col-md-12 col-lg-12" style="margin: 0px">
                                                            <div id="avisoUsuario" style="margin-top: 5px"></div>
                                                            <div id="avisoEmail" style="margin-top: 5px"></div>
                                                            <div id="confirmaSenhaC" style="margin-top: 5px"></div>
                            </div>

                        </div>
                        <button type="submit" class="col-md-12 btn btn-success" style="margin-top: 20px;">Cadastrar</button>
                    </form>        
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade" id="sucesso" tabindex="-1" data-keyboard="false" data-backdrop="static"  role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Usuário cadastrado com sucesso!</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">

                    <center><a class="btn btn-primary text-center" href="/sim/public_html/controleUsuario">OK</a></center>

                </div>

            </div>
        </div>
    </div>




    <div class="modal fade" id="sucessoEditar" tabindex="-1" data-keyboard="false" data-backdrop="static"  role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Usuário atualizado com sucesso!</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">

                    <center><a class="btn btn-primary text-center" href="/sim/public_html/controleUsuario">OK</a></center>

                </div>

            </div>
        </div>
    </div>
{% endblock %}
{% block footer %}
    {{ parent() }}
{% endblock %}
{% block js %}
    {{ parent() }}
    <script type="text/javascript">
        $(document).ready(function () {
            $("#3").removeClass('nav-item');
            $("#3").addClass("nav-item active");
        });
    </script>
    <script src="js/controleUsuario.js" type="text/javascript"></script> 

    <script src="vendor/popper/popper.min.js"></script>
    <script src="vendor/bootstrap/js/bootstrap.min.js"></script>

    <!-- Plugin JavaScript -->
    <script src="vendor/jquery-easing/jquery.easing.min.js"></script>
    <script src="vendor/chart.js/Chart.min.js"></script>
    <script src="vendor/datatables/jquery.dataTables.js"></script>
    <script src="vendor/datatables/dataTables.bootstrap4.js"></script>

    <script src="js/sb-admin.min.js"></script>


{% endblock %}
