{% extends "layout/layout.html.twig" %}

{% block title %}- Meu Perfil{% endblock %}
{% block head %}
    {{ parent() }}
{% endblock %}
{% block content %}
    {{ parent()}} 
{% endblock %}

{% block corpo %}

        <h4 class="text mb-4" style="color: #006c3a" >Perfil</h4>

    <div class="row col-md-12" style="background-color: #fff;padding-bottom: 30px;padding-top: 30px;padding-left: 20px;padding-right: 20px">
        <form  id="form"  name="form"  class="form col-12" method="POST" enctype="multipart/form-data" >
            <div id="aviso"></div>
            <label for="nomeE"><b>Nome:</b></label>
            <input name="nomeE" type="text" class="form-control"  id="nomeE"  value="{{dados.nome}}"/>
            <label for="funcaoE"><b>Função:</b></label>
            <input name="funcaoE" type="text" class="form-control" id="funcaoE" value="{{dados.funcao}}"/>
            <label for="emailE"><b>E-mail:</b></label>
            <input name="emailE" type="text" class="form-control" placeholder="Email.." id="emailE" value="{{dados.email}}"/>
            <label for="usuarioE"><b>Usuário:</b></label>
            <input name="usuarioE" type="text" class="form-control" placeholder="Usuário.." id="usuarioE" value="{{dados.usuario}}"/>
            <label for="senhaE"><b>Senha:</b></label>
            <input name="senhaE" type="password" class="form-control" placeholder="Senha.." id="senhaE" value="{{dados.senha}}"/>
            <input name="idE" type="hidden" class="form-control" id="idE" value="{{dados.idUsuario}}"/>

            <button type="submit" class="col-md-12 btn btn-success" style="margin-top: 20px;">Atualizar Dados</button>
        </form>      
    </div>
    <div class="row">

    </div>
    <div class="row">

    </div>
</div>

<div class="modal fade" id="sucesso" tabindex="-1" data-keyboard="false" data-backdrop="static"  role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Perfil atualizado com sucesso!</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">

                <center><a class="btn btn-primary text-center" href="/sim/public_html/">OK</a></center>

            </div>

        </div>
    </div>
</div>{% endblock %}
{% block footer %}
    {{ parent() }}
{% endblock %}
{% block js %}
    {{ parent() }}
     <script type="text/javascript">
        $(document).ready(function () {
            $("#4").removeClass('nav-item');
            $("#4").addClass("nav-item active");
        });
    </script>
    <script src="js/controlePerfil.js" type="text/javascript"></script> 

{% endblock %}