{% extends "layout/layout.html.twig" %}

{% block head %}
    {{ parent() }}
    <link href="vendor/datatables/dataTables.bootstrap4.css" rel="stylesheet">

{% endblock %}
{% block content %}
    {{ parent()}} 
{% endblock %}

{% block corpo %}
    <h4 class="text mb-4" style="color: #006c3a" >Módulos</h4>
    <div class="row col-md-12" style="background-color: #fff;padding-bottom: 10px;padding-top: 10px">
        <div class="container-fluid" style="padding-left: 0px">
            <a class=" btn btn-primary" data-toggle="modal" data-target="#cadastrarModulo" style="margin-top: 0px;color: #fff;font-size: 12px;margin-bottom: 5px" title="Cadastrar novo módulo"><i class="fa fa-plus" aria-hidden="true"></i> Cadastrar</a>

            {% if modulos != null %}
                <div class="table-responsive" style="background-color: #fff;padding-top: 30px;padding-bottom: 30px">
                    <table class="table table-striped table-bordered" width="100%" id="dataTable" cellspacing="0">
                        <thead  >
                            <tr>
                                <th><center>Descrição</center></th>
                        <th><center>Sigla</center></th>
                        <th><center>Status</center></th>
                        <th><center>Ações</center></th>

                        </tr>
                        </thead>
                        <tbody>
                            {% for dado in modulos %}
                                <tr>       
                                    <td class="text-left">{{dado.descricao}}</td>
                                    <td class="text-center">{{dado.sigla}}</td>
                                    <td class="text-center">
                                        {% if dado.status == 1%}
                                            Ativado
                                            {% else %}
                                                Desativado
                                                {% endif %}
                                                
                                    </td>
                                    <td class="text-center">
                                        {% if dado.status == 1%}
                                            <a onclick="editar('{{dado.descricao}}', '{{dado.sigla}}',{{dado.idModulos}} )" title="Editar Módulo" style="text-decoration: none;color: #fff">
                                                <button type="button" title="Editar módulo" class="btn btn-warning btn-sm" style="color: #fff">
                                                    <i class="fa fa-pencil" aria-hidden="true"></i>
                                                </button>
                                            </a>
                                            <a onclick="desativarModulo({{dado.idModulos}})" title="Desativar módulo" style="text-decoration: none;color: #ff0000"> 
                                                <button type="button" class="btn btn-danger btn-sm" style="color: #fff">
                                                    <i class="fa fa-close" aria-hidden="true"></i>
                                                </button>
                                            </a>
                                        {% else %}
                                             <a  title="Editar Módulo" style="text-decoration: none;color: #fff">
                                                 <button disabled="" type="button" title="Editar módulo" class="btn btn-warning btn-sm" style="color: #fff">
                                                    <i class="fa fa-pencil" aria-hidden="true"></i>
                                                </button>
                                            </a>
                                            <a onclick="ativarModulo({{dado.idModulos}})" title="Ativar Módulo" style="text-decoration: none;color: #2F4F4F"> 
                                                <button type="button" class="btn btn-success btn-sm" style="color: #fff">
                                                    <i class="fa fa-check" aria-hidden="true"></i>
                                                </button>   
                                            </a>
                                        {% endif %}
                                    </td>

                                </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
                <br>
                <br>
            {% else %}
                <div class="alert alert-danger animated fadeInUp">
                    <center>Sem módulos cadastrados!</center>
                </div>

            {%endif %}
        </div>
    </div>

    <div class="modal fade" id="cadastrarModulo" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title text-center" id="exampleModalLabel">Cadastro de Módulo</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <form  id="formCadastro"  name="formCadastro"  class="form" method="POST" enctype="multipart/form-data" >
                        <label for="nome">Descrição:</label>
                        <div id="avisoNome"></div>
                        <input autofocus="" name="nome" type="text" class="form-control" placeholder="Nome do módulo..." id="nome"/>
                        <label for="sigla">Sigla</label>
                        <div id="avisoSigla"></div>
                        <input name="sigla" type="text" class="form-control" placeholder="Sigla do módulo..." id="sigla"/>
                        <button type="submit" class="col-md-12 btn btn-primary" style="margin-top: 20px;"> Cadastrar</button>
                    </form>        
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade" id="editarModulo" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title text-center" id="exampleModalLabel">Editar de Módulo</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <form  id="formEditar"  name="formEditar" action="editarModulo" class="form" method="POST" enctype="multipart/form-data" >
                        <label for="nomeEditar">Descrição:</label>
                        <div id="avisoNomeEditar"></div>
                        <input autofocus="" name="nomeEditar" type="text" class="form-control" placeholder="Nome do módulo..." id="nomeEditar"/>
                        <label for="siglaEditar">Sigla</label>
                        <div id="avisoSiglaEditar"></div>
                        <input name="siglaEditar" type="text" class="form-control" placeholder="Sigla do módulo..." id="siglaEditar"/>
                        <input hidden="" name="id" type="text" class="form-control"  id="id"/>
                        <button type="submit" class="col-md-12 btn btn-warning" style="margin-top: 20px;color: #fff"> Salvar Edição</button>
                    </form>        
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade" id="ativarModulo" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title text-center" id="exampleModalLabel">Desativar Módulo</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <form  id="formAtivar"  name="formAtivar"   class="form" method="POST" enctype="multipart/form-data" >
                        <label for="nomeDesativar">Deseja realmente ativar o módulo?</label>
                        <input hidden="" name="idAtivar" type="text" class="form-control"  id="idAtivar"/><br>
                        <center>
                            <a class="btn  btn-dark" href="/sim/public_html/controleModulo" style="margin-top: 5px">Cancelar</a>
                            <button type="submit" class=" btn btn-success" style="margin-top: 5px;">Ativar</button>
                        </center>
                    </form>        
                </div>
            </div>
        </div>
    </div>   

    <div class="modal fade" id="desativarModulo" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title text-center" id="exampleModalLabel">Desativar Módulo</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <form  id="formDesativar"  name="formDesativar"   class="form" method="POST" enctype="multipart/form-data" >
                        <label for="nomeDesativar">Deseja realmente desativar o módulo?</label>
                        <input hidden="" name="idDesativar" type="text" class="form-control"  id="idDesativar"/><br>
                        <center>
                            <a class="btn  btn-dark" href="/sim/public_html/controleModulo" style="margin-top: 5px">Cancelar</a>
                            <button type="submit" class=" btn btn-danger" style="margin-top: 5px;">Desativar</button>
                        </center>
                    </form>        
                </div>
            </div>
        </div>
    </div>   

    <div class="modal fade" id="sucessoAtivar" tabindex="-1" data-keyboard="false" data-backdrop="static"  role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Módulo ativado com sucesso!</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <center><a class="btn btn-primary text-center" href="/sim/public_html/controleModulo">OK</a></center>
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade" id="sucessoDesativar" tabindex="-1" data-keyboard="false" data-backdrop="static"  role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Módulo desativado com sucesso!</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <center><a class="btn btn-primary text-center" href="/sim/public_html/controleModulo">OK</a></center>
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade" id="sucessoEditar" tabindex="-1" data-keyboard="false" data-backdrop="static"  role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Módulo atualizado com sucesso!</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <center><a class="btn btn-primary text-center" href="/sim/public_html/controleModulo">OK</a></center>
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade" id="sucessoCadastro" tabindex="-1" data-keyboard="false" data-backdrop="static"  role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Módulo cadastrado com sucesso!</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <center><a class="btn btn-primary text-center" href="/sim/public_html/controleModulo">OK</a></center>
                </div>
            </div>
        </div>
    </div>

{% endblock %}
{% block footer %}
    {{ parent() }}
{% endblock %}
{% block js %}
    {{ parent() }}
    <script type="text/javascript">
        $(document).ready(function () {
            $("#2").removeClass('nav-item');
            $("#2").addClass("nav-item active");
        });
    </script>
    <script src="vendor/popper/popper.min.js"></script>
    <script src="vendor/bootstrap/js/bootstrap.min.js"></script>

    <!-- Plugin JavaScript -->
    <script src="vendor/jquery-easing/jquery.easing.min.js"></script>
    <script src="vendor/chart.js/Chart.min.js"></script>
    <script src="vendor/datatables/jquery.dataTables.js"></script>
    <script src="vendor/datatables/dataTables.bootstrap4.js"></script>

    <!-- Custom scripts for this template -->
    <script src="js/sb-admin.min.js"></script>
    <script src="js/controleModulo.js" type="text/javascript"></script> 


{% endblock %}
